{% extends "layout.html" %} 

{% block body %}
    <!-- Main Container -->
    <div class="container">
        <!-- Section for Adding a New Task -->
        <div class="section">
            <h2 class="section-heading">Add a Task</h2>
            <form action="/" method="post" class="add-form mx-auto">
                <!-- Task Name Input -->
                <div class="mb-3">
                    <label for="tname" class="form-label">Task Name</label>
                    <input type="text" name="tname" id="tname" class="form-control" placeholder="Task Name" required />
                </div>

                <!-- Description Input -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="3" placeholder="Description" required></textarea>
                </div>

                <!-- Date Input -->
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" name="date" id="date" class="form-control" required />
                </div>

                <!-- Status Radio Buttons -->
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <!-- Pending Status -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="statusPending" value="Pending" required />
                        <label class="form-check-label" for="statusPending">Pending</label>
                    </div>
                    <!-- In Progress Status -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="statusInProgress" value="In Progress" />
                        <label class="form-check-label" for="statusInProgress">In Progress</label>
                    </div>
                    <!-- Completed Status -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="statusCompleted" value="Completed" />
                        <label class="form-check-label" for="statusCompleted">Completed</label>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="mb-3 text-center d-flex justify-content-center">
                    <button type="submit" id="submit" class="btn">Add Task</button>
                </div>
            </form>
        </div>

        <!-- Pending Tasks Section -->
        <div class="section">
            <h2 class="section-heading">Pending Tasks</h2>
            <div id="pending-tasks" class="task-category">
                <!-- Loop Through Pending Tasks -->
                {% for task in tasks if task.status == 'Pending' %}
                    <!-- Task Card -->
                    <div class="card task-item" draggable="true" id="task-{{ task.id }}">
                        <!-- Task Details -->
                        <div class="card-body">
                            <span class="card-title">{{ task.tname }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Description</div>
                            <span class="card-text task-description">{{ task.description }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Due Date</div>
                            <span class="card-text">{{ task.date }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Status</div>
                            <span class="task-status">{{ task.status }}</span>
                        </div>
                        <div class="card-footer">
                            <a href="/update/{{ task.id }}" class="btn">Update</a>
                            <form action="/delete/{{ task.id }}" method="post" class="task-delete">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- In Progress Tasks Section -->
        <div class="section">
            <h2 class="section-heading">In Progress Tasks</h2>
            <div id="in-progress-tasks" class="task-category">
                <!-- Loop Through In Progress Tasks -->
                {% for task in tasks if task.status == 'In Progress' %}
                    <!-- Task Card -->
                    <div class="card task-item" draggable="true" id="task-{{ task.id }}">
                        <!-- Task Details -->
                        <div class="card-body">
                            <span class="card-title">{{ task.tname }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Description</div>
                            <span class="card-text task-description">{{ task.description }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Due Date</div>
                            <span class="card-text">{{ task.date }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Status</div>
                            <span class="task-status">{{ task.status }}</span>
                        </div>
                        <div class="card-footer">
                            <a href="/update/{{ task.id }}" class="btn">Update</a>
                            <form action="/delete/{{ task.id }}" method="post" class="task-delete">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Completed Tasks Section -->
        <div class="section">
            <h2 class="section-heading">Completed Tasks</h2>
            <div id="completed-tasks" class="task-category">
                <!-- Loop Through Completed Tasks -->
                {% for task in tasks if task.status == 'Completed' %}
                    <!-- Task Card -->
                    <div class="card task-item" draggable="true" id="task-{{ task.id }}">
                        <!-- Task Details -->
                        <div class="card-body">
                            <span class="card-title">{{ task.tname }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Description</div>
                            <span class="card-text task-description">{{ task.description }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Due Date</div>
                            <span class="card-text">{{ task.date }}</span>
                            <div class="task-header mb-2 mt-2 text-body-secondary">Status</div>
                            <span class="task-status">{{ task.status }}</span>
                        </div>
                        <div class="card-footer">
                            <a href="/update/{{ task.id }}" class="btn">Update</a>
                            <form action="/delete/{{ task.id }}" method="post" class="task-delete">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Section for Additional Actions (Delete All Tasks, Delete Account) -->
        <div class="section delete-btn-section">
            <button type="button" class="btn btn-danger" id="delete-all-tasks-btn">Delete All Tasks</button>
            <button type="button" class="btn btn-warning" id="delete-account-btn">Delete Account</button>
        </div>
        
    </div>
{% endblock %}
